.info_rua_caracteristicas {
    font-size: 110%;
    padding-bottom: 10px;
    padding-top: 25px;
}

.info_rua_adjacentes {
    font-size: 110%;
    padding-bottom: 10px;
    padding-top: 25px;
}

.autocomplete {
    position: relative;
    display: inline-block;
    width: 100%;
}

.autocomplete_items {
    position: absolute;
    z-index: 99;
}

.autocomplete_items div {
    padding: 15px;
    cursor: pointer;
    border: 2px solid darkgray;
    background-color: rgb(120, 120, 120);
    text-align: left;
}

.autocomplete_items div:hover {
    background-color: #0000ff;
}

.autocomplete_active {
    background-color: #5555ff !important;
}
